body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:1098px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1098px;
}
#u3 {
  position:absolute;
  left:2px;
  top:541px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:297px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:297px;
}
#u5 {
  position:absolute;
  left:2px;
  top:140px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:104px;
  top:940px;
  width:106px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:383px;
  top:936px;
  width:287px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:341px;
  top:339px;
  width:105px;
  height:105px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u11 {
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:337px;
  top:458px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#929292;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:294px;
  top:508px;
  width:88px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#929292;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:409px;
  top:508px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#929292;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:78px;
  top:580px;
  width:160px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:238px;
  top:580px;
  width:160px;
  height:100px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:398px;
  top:580px;
  width:160px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:558px;
  top:580px;
  width:161px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:125px;
  top:589px;
  width:66px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:294px;
  top:649px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:288px;
  top:589px;
  width:66px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:133px;
  top:649px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:440px;
  top:589px;
  width:66px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:446px;
  top:649px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:602px;
  top:589px;
  width:66px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:600px;
  top:649px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:78px;
  top:691px;
  width:641px;
  height:329px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:329px;
}
#u43 {
  position:absolute;
  left:2px;
  top:156px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:107px;
  top:706px;
  width:36px;
  height:34px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u45 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:658px;
  top:704px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:77px;
  top:749px;
  width:642px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u49 {
  position:absolute;
  left:107px;
  top:771px;
  width:36px;
  height:34px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u50 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:160px;
  top:779px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:658px;
  top:769px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:77px;
  top:814px;
  width:642px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u56 {
  position:absolute;
  left:107px;
  top:836px;
  width:36px;
  height:34px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u57 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:160px;
  top:844px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:658px;
  top:834px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u61 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:77px;
  top:879px;
  width:642px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u63 {
  position:absolute;
  left:107px;
  top:901px;
  width:36px;
  height:34px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u64 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:160px;
  top:909px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:658px;
  top:899px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:78px;
  top:1030px;
  width:641px;
  height:130px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:130px;
}
#u70 {
  position:absolute;
  left:2px;
  top:57px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:77px;
  top:1087px;
  width:642px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u72 {
  position:absolute;
  left:106px;
  top:1044px;
  width:36px;
  height:34px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u73 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:160px;
  top:1052px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:658px;
  top:1042px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u77 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:630px;
  top:293px;
  width:72px;
  height:56px;
  font-size:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:56px;
}
#u79 {
  position:absolute;
  left:2px;
  top:16px;
  width:68px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:682px;
  top:293px;
  width:25px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u81 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:78px;
  top:1286px;
  width:641px;
  height:95px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:95px;
}
#u83 {
  position:absolute;
  left:2px;
  top:40px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:134px;
  top:1295px;
  width:70px;
  height:50px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u85 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:133px;
  top:1350px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:587px;
  top:1296px;
  width:70px;
  height:50px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u89 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:597px;
  top:1351px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:348px;
  top:1260px;
  width:100px;
  height:90px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u93 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:351px;
  top:1352px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:95px;
  top:1286px;
  width:155px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  position:absolute;
  left:321px;
  top:1286px;
  width:155px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  position:absolute;
  left:544px;
  top:1286px;
  width:155px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u99 {
  position:absolute;
  left:78px;
  top:951px;
  width:642px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u100 {
  position:absolute;
  left:108px;
  top:973px;
  width:36px;
  height:34px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u101 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:160px;
  top:981px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:658px;
  top:971px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u105 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:106px;
  top:1109px;
  width:36px;
  height:34px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u107 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:160px;
  top:1117px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:658px;
  top:1107px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u111 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:92px;
  top:1033px;
  width:615px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  position:absolute;
  left:90px;
  top:822px;
  width:615px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u114 {
  position:absolute;
  left:91px;
  top:889px;
  width:615px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u115 {
  position:absolute;
  left:92px;
  top:585px;
  width:133px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u116 {
  position:absolute;
  left:255px;
  top:585px;
  width:133px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
