body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:1097px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1097px;
}
#u3 {
  position:absolute;
  left:2px;
  top:540px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:352px;
  top:310px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:78px;
  top:349px;
  width:642px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u7 {
  position:absolute;
  left:78px;
  top:365px;
  width:640px;
  height:157px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:157px;
}
#u8 {
  position:absolute;
  left:2px;
  top:70px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:194px;
  top:474px;
  width:379px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:99px;
  top:405px;
  width:71px;
  height:71px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u12 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:606px;
  top:378px;
  width:84px;
  height:35px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:78px;
  top:531px;
  width:640px;
  height:147px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:147px;
}
#u16 {
  position:absolute;
  left:2px;
  top:66px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:99px;
  top:571px;
  width:71px;
  height:71px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u18 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:606px;
  top:544px;
  width:84px;
  height:35px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:79px;
  top:687px;
  width:640px;
  height:145px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:145px;
}
#u22 {
  position:absolute;
  left:2px;
  top:64px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:194px;
  top:746px;
  width:379px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:44px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:100px;
  top:724px;
  width:71px;
  height:71px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u26 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:607px;
  top:700px;
  width:84px;
  height:35px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:180px;
  top:393px;
  width:210px;
  height:70px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:70px;
}
#u30 {
  position:absolute;
  left:2px;
  top:27px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:293px;
  top:392px;
  width:39px;
  height:19px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:315px;
  top:406px;
  width:39px;
  height:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:276px;
  top:411px;
  width:39px;
  height:19px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:180px;
  top:567px;
  width:210px;
  height:70px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:70px;
}
#u38 {
  position:absolute;
  left:2px;
  top:27px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:315px;
  top:580px;
  width:39px;
  height:19px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:276px;
  top:585px;
  width:39px;
  height:19px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:291px;
  top:566px;
  width:39px;
  height:19px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:590px;
  top:472px;
  width:100px;
  height:40px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u46 {
  position:absolute;
  left:590px;
  top:632px;
  width:100px;
  height:40px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:591px;
  top:772px;
  width:100px;
  height:40px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:78px;
  top:1286px;
  width:641px;
  height:95px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:95px;
}
#u49 {
  position:absolute;
  left:2px;
  top:40px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:163px;
  top:1295px;
  width:70px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:162px;
  top:1350px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:555px;
  top:1296px;
  width:70px;
  height:50px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:565px;
  top:1351px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:348px;
  top:1352px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:357px;
  top:1292px;
  width:70px;
  height:50px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u61 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:118px;
  top:1285px;
  width:160px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:312px;
  top:1286px;
  width:160px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:510px;
  top:1286px;
  width:160px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:194px;
  top:375px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:194px;
  top:548px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:194px;
  top:706px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
