body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:359px;
  width:641px;
  height:1108px;
  font-size:18px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1108px;
}
#u3 {
  position:absolute;
  left:2px;
  top:546px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:76px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:76px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:78px;
  top:1372px;
  width:641px;
  height:95px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:95px;
}
#u7 {
  position:absolute;
  left:2px;
  top:40px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:310px;
  top:1406px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:346px;
  top:305px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:104px;
  top:940px;
  width:106px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:93px;
  top:299px;
  width:32px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:104px;
  top:477px;
  width:563px;
  height:250px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:250px;
}
#u17 {
  position:absolute;
  left:2px;
  top:117px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:104px;
  top:637px;
  width:586px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:118px;
  top:707px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:120px;
  top:759px;
  width:517px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:44px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:273px;
  top:534px;
  width:51px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:307px;
  top:546px;
  width:18px;
  height:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:22px;
}
#u27 {
  position:absolute;
  left:2px;
  top:3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:285px;
  top:550px;
  width:22px;
  height:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:649px;
  top:302px;
  width:37px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:44px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:120px;
  top:365px;
  width:517px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:78px;
  top:380px;
  width:641px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:624px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:641px;
  height:1px;
}
#u35 {
  position:absolute;
  left:120px;
  top:418px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
