body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:281px;
  width:641px;
  height:1098px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1098px;
}
#u3 {
  position:absolute;
  left:2px;
  top:541px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:78px;
  top:245px;
  width:641px;
  height:76px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:76px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:474px;
  top:1325px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:93px;
  top:266px;
  width:32px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:306px;
  top:266px;
  width:177px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:305px;
  top:418px;
  width:215px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:320px;
  top:740px;
  width:170px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:110px;
  top:980px;
  width:590px;
  height:296px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:296px;
}
#u17 {
  position:absolute;
  left:2px;
  top:140px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:352px;
  top:771px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#00CCFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:114px;
  top:386px;
  width:568px;
  height:384px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:384px;
}
#u21 {
  position:absolute;
  left:2px;
  top:184px;
  width:564px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:112px;
  top:617px;
  width:550px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:120px;
  top:770px;
  width:240px;
  height:19px;
  font-size:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  position:absolute;
  left:560px;
  top:710px;
  width:140px;
  height:46px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u26 {
  position:absolute;
  left:2px;
  top:15px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:570px;
  top:721px;
  width:80px;
  height:24px;
  font-size:20px;
  color:#FF3300;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:106px;
  top:972px;
  width:580px;
  height:358px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:358px;
}
#u30 {
  position:absolute;
  left:2px;
  top:171px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:220px;
  top:1148px;
  width:320px;
  height:142px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:142px;
}
#u32 {
  position:absolute;
  left:2px;
  top:63px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:266px;
  top:1148px;
  width:227px;
  height:148px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:148px;
}
#u34 {
  position:absolute;
  left:2px;
  top:66px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
