body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1012px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:1098px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1098px;
}
#u3 {
  position:absolute;
  left:2px;
  top:541px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:104px;
  top:940px;
  width:106px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:383px;
  top:936px;
  width:287px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:80px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:637px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:78px;
  top:529px;
  width:641px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:624px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:641px;
  height:1px;
}
#u11 {
  position:absolute;
  left:101px;
  top:307px;
  width:32px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:175px;
  top:480px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:354px;
  top:480px;
  width:46px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:566px;
  top:480px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:164px;
  top:417px;
  width:59px;
  height:53px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:53px;
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:345px;
  top:417px;
  width:59px;
  height:53px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:53px;
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:555px;
  top:417px;
  width:59px;
  height:53px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:53px;
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:667px;
  top:311px;
  width:34px;
  height:34px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:804px;
  top:297px;
  width:34px;
  height:34px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u28 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:813px;
  top:348px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:813px;
  top:398px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:104px;
  top:554px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:78px;
  top:586px;
  width:641px;
  height:384px;
  font-size:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:384px;
}
#u36 {
  position:absolute;
  left:2px;
  top:184px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:103px;
  top:600px;
  width:67px;
  height:67px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u38 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:186px;
  top:638px;
  width:110px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:666px;
  top:617px;
  width:31px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:527px;
  top:625px;
  width:123px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:78px;
  top:676px;
  width:641px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:624px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:641px;
  height:1px;
}
#u46 {
  position:absolute;
  left:102px;
  top:697px;
  width:67px;
  height:67px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u47 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:184px;
  top:730px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:664px;
  top:714px;
  width:31px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:526px;
  top:722px;
  width:123px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:78px;
  top:772px;
  width:641px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:624px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:641px;
  height:1px;
}
#u55 {
  position:absolute;
  left:102px;
  top:790px;
  width:67px;
  height:67px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u56 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:184px;
  top:826px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:664px;
  top:807px;
  width:31px;
  height:31px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:526px;
  top:815px;
  width:123px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:113px;
  top:878px;
  width:125px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:604px;
  top:882px;
  width:56px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:113px;
  top:922px;
  width:125px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:604px;
  top:926px;
  width:56px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:186px;
  top:608px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:184px;
  top:702px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:184px;
  top:792px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:794px;
  top:889px;
  width:66px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:49px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  height:2px;
}
#u78 {
  position:absolute;
  left:874px;
  top:860px;
  width:127px;
  height:110px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:110px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:813px;
  top:802px;
  width:199px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
