body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:104px;
  top:940px;
  width:106px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:383px;
  top:936px;
  width:287px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:80px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:637px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:78px;
  top:363px;
  width:640px;
  height:147px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:147px;
}
#u9 {
  position:absolute;
  left:2px;
  top:66px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:78px;
  top:1286px;
  width:641px;
  height:95px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:95px;
}
#u11 {
  position:absolute;
  left:2px;
  top:40px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:163px;
  top:1295px;
  width:70px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:162px;
  top:1350px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:555px;
  top:1296px;
  width:70px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:565px;
  top:1351px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:354px;
  top:1352px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:357px;
  top:1292px;
  width:70px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:196px;
  top:383px;
  width:126px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:389px;
  top:383px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:194px;
  top:465px;
  width:361px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:99px;
  top:403px;
  width:71px;
  height:71px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u31 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:118px;
  top:1285px;
  width:160px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:311px;
  top:1285px;
  width:160px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:510px;
  top:1286px;
  width:160px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:194px;
  top:426px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:606px;
  top:376px;
  width:84px;
  height:35px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:78px;
  top:518px;
  width:640px;
  height:147px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:147px;
}
#u40 {
  position:absolute;
  left:2px;
  top:66px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:196px;
  top:538px;
  width:126px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:389px;
  top:538px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:194px;
  top:620px;
  width:361px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:22px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:99px;
  top:558px;
  width:71px;
  height:71px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u48 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:194px;
  top:581px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:606px;
  top:531px;
  width:84px;
  height:35px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:79px;
  top:674px;
  width:640px;
  height:147px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:147px;
}
#u54 {
  position:absolute;
  left:2px;
  top:66px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:197px;
  top:694px;
  width:126px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:390px;
  top:694px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:195px;
  top:776px;
  width:361px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:22px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:100px;
  top:714px;
  width:71px;
  height:71px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u62 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:195px;
  top:737px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:607px;
  top:687px;
  width:84px;
  height:35px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
