body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:1097px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1097px;
}
#u3 {
  position:absolute;
  left:2px;
  top:540px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:357px;
  top:310px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:78px;
  top:349px;
  width:642px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u7 {
  position:absolute;
  left:97px;
  top:307px;
  width:32px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:137px;
  top:369px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:221px;
  top:369px;
  width:10px;
  height:22px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u12 {
  position:absolute;
  left:281px;
  top:369px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3300;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:386px;
  top:369px;
  width:10px;
  height:22px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u15 {
  position:absolute;
  left:449px;
  top:369px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:551px;
  top:369px;
  width:10px;
  height:22px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u18 {
  position:absolute;
  left:591px;
  top:369px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:78px;
  top:407px;
  width:640px;
  height:157px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:157px;
}
#u21 {
  position:absolute;
  left:2px;
  top:70px;
  width:636px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:194px;
  top:523px;
  width:379px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:99px;
  top:447px;
  width:71px;
  height:71px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u25 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:606px;
  top:420px;
  width:84px;
  height:35px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:78px;
  top:573px;
  width:640px;
  height:147px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:147px;
}
#u29 {
  position:absolute;
  left:2px;
  top:66px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:99px;
  top:613px;
  width:71px;
  height:71px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u31 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:606px;
  top:586px;
  width:84px;
  height:35px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:79px;
  top:729px;
  width:640px;
  height:145px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:145px;
}
#u35 {
  position:absolute;
  left:2px;
  top:64px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:194px;
  top:793px;
  width:379px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:44px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:100px;
  top:766px;
  width:71px;
  height:71px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u39 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:607px;
  top:742px;
  width:84px;
  height:35px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:180px;
  top:442px;
  width:210px;
  height:70px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:70px;
}
#u43 {
  position:absolute;
  left:2px;
  top:27px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:293px;
  top:441px;
  width:39px;
  height:19px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:315px;
  top:455px;
  width:39px;
  height:19px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:276px;
  top:460px;
  width:39px;
  height:19px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:180px;
  top:620px;
  width:210px;
  height:70px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:70px;
}
#u51 {
  position:absolute;
  left:2px;
  top:27px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:315px;
  top:633px;
  width:39px;
  height:19px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:276px;
  top:638px;
  width:39px;
  height:19px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:291px;
  top:619px;
  width:39px;
  height:19px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:590px;
  top:514px;
  width:100px;
  height:40px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u59 {
  position:absolute;
  left:590px;
  top:674px;
  width:100px;
  height:40px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u60 {
  position:absolute;
  left:591px;
  top:814px;
  width:100px;
  height:40px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u61 {
  position:absolute;
  left:194px;
  top:420px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:194px;
  top:598px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:194px;
  top:748px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
