body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1117px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:1098px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1098px;
}
#u3 {
  position:absolute;
  left:2px;
  top:541px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:145px;
  top:516px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:113px;
  top:388px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:78px;
  top:423px;
  width:642px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u9 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:76px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:76px;
}
#u10 {
  position:absolute;
  left:2px;
  top:30px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:93px;
  top:303px;
  width:32px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:342px;
  top:309px;
  width:114px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:78px;
  top:556px;
  width:642px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u16 {
  position:absolute;
  left:78px;
  top:673px;
  width:642px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u17 {
  position:absolute;
  left:210px;
  top:516px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#929292;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:107px;
  top:580px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:107px;
  top:760px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:113px;
  top:821px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:77px;
  top:956px;
  width:642px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u26 {
  position:absolute;
  left:243px;
  top:821px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:379px;
  top:821px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:560px;
  top:821px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:243px;
  top:871px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:379px;
  top:871px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:850px;
  top:855px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:245px;
  top:921px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:379px;
  top:921px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:560px;
  top:921px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:114px;
  top:982px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:78px;
  top:1017px;
  width:642px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u47 {
  position:absolute;
  left:660px;
  top:975px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:114px;
  top:1049px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:78px;
  top:1084px;
  width:642px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u52 {
  position:absolute;
  left:660px;
  top:1042px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:114px;
  top:1114px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:78px;
  top:1149px;
  width:642px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u57 {
  position:absolute;
  left:660px;
  top:1107px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:142px;
  top:453px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:222px;
  top:460px;
  width:100px;
  height:16px;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  position:absolute;
  left:349px;
  top:460px;
  width:100px;
  height:16px;
}
#u64 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u63_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  position:absolute;
  left:78px;
  top:489px;
  width:642px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u66 {
  position:absolute;
  left:111px;
  top:642px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:110px;
  top:697px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:78px;
  top:617px;
  width:642px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u71 {
  position:absolute;
  left:78px;
  top:735px;
  width:642px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u72 {
  position:absolute;
  left:78px;
  top:797px;
  width:642px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u73 {
  position:absolute;
  left:222px;
  top:1254px;
  width:338px;
  height:55px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:55px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u74 {
  position:absolute;
  left:114px;
  top:1169px;
  width:106px;
  height:40px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:642px;
  top:1162px;
  width:50px;
  height:40px;
  font-size:36px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-1px;
  width:46px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:804px;
  top:384px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:830px;
  top:423px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:940px;
  top:423px;
  width:80px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  position:absolute;
  left:1030px;
  top:426px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:830px;
  top:468px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:940px;
  top:465px;
  width:80px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87 {
  position:absolute;
  left:1030px;
  top:468px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:804px;
  top:516px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:830px;
  top:556px;
  width:80px;
  height:25px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u92 {
  position:absolute;
  left:920px;
  top:556px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1012px;
  top:558px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:830px;
  top:602px;
  width:80px;
  height:25px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u97 {
  position:absolute;
  left:920px;
  top:605px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1012px;
  top:605px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:691px;
  top:877px;
  width:200px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  height:2px;
}
#u102 {
  position:absolute;
  left:560px;
  top:871px;
  width:77px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
