body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:1098px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1098px;
}
#u3 {
  position:absolute;
  left:2px;
  top:541px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:538px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:112px;
  top:468px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:658px;
  top:383px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:78px;
  top:434px;
  width:642px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u11 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:76px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:76px;
}
#u12 {
  position:absolute;
  left:2px;
  top:30px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:93px;
  top:303px;
  width:32px;
  height:32px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:342px;
  top:309px;
  width:114px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:107px;
  top:368px;
  width:65px;
  height:65px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u18 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:658px;
  top:463px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:78px;
  top:510px;
  width:642px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u22 {
  position:absolute;
  left:78px;
  top:580px;
  width:642px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u23 {
  position:absolute;
  left:658px;
  top:538px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:537px;
  top:548px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#929292;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
