body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:1098px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1098px;
}
#u3 {
  position:absolute;
  left:2px;
  top:541px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:104px;
  top:940px;
  width:106px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:383px;
  top:936px;
  width:287px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:80px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:637px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:101px;
  top:307px;
  width:32px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:136px;
  top:376px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:136px;
  top:440px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:78px;
  top:407px;
  width:641px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:624px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:641px;
  height:1px;
}
#u17 {
  position:absolute;
  left:136px;
  top:508px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:78px;
  top:472px;
  width:641px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:624px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:641px;
  height:1px;
}
#u20 {
  position:absolute;
  left:76px;
  top:719px;
  width:641px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:624px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:641px;
  height:1px;
}
#u21 {
  position:absolute;
  left:660px;
  top:372px;
  width:31px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:660px;
  top:431px;
  width:31px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:660px;
  top:499px;
  width:31px;
  height:31px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:159px;
  top:540px;
  width:521px;
  height:157px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:157px;
}
#u28 {
  position:absolute;
  left:2px;
  top:70px;
  width:517px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:186px;
  top:568px;
  width:175px;
  height:35px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:186px;
  top:568px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:130px;
  top:543px;
  width:35px;
  height:144px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:144px;
}
#u34 {
  position:absolute;
  left:2px;
  top:64px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
