body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1626px;
}
#u1 {
  position:absolute;
  left:2px;
  top:805px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:283px;
  width:641px;
  height:1097px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1097px;
}
#u3 {
  position:absolute;
  left:2px;
  top:540px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:357px;
  top:310px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:78px;
  top:349px;
  width:642px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:625px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:642px;
  height:1px;
}
#u7 {
  position:absolute;
  left:97px;
  top:307px;
  width:32px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:78px;
  top:362px;
  width:640px;
  height:157px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:157px;
}
#u10 {
  position:absolute;
  left:2px;
  top:70px;
  width:636px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:194px;
  top:474px;
  width:366px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:99px;
  top:402px;
  width:71px;
  height:71px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u14 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:606px;
  top:375px;
  width:84px;
  height:35px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:78px;
  top:528px;
  width:640px;
  height:147px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:147px;
}
#u18 {
  position:absolute;
  left:2px;
  top:66px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:99px;
  top:568px;
  width:71px;
  height:71px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u20 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:606px;
  top:541px;
  width:84px;
  height:35px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:79px;
  top:684px;
  width:640px;
  height:145px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:145px;
}
#u24 {
  position:absolute;
  left:2px;
  top:64px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:194px;
  top:747px;
  width:379px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:44px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:100px;
  top:721px;
  width:71px;
  height:71px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u28 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:607px;
  top:697px;
  width:84px;
  height:35px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:180px;
  top:393px;
  width:210px;
  height:70px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:70px;
}
#u32 {
  position:absolute;
  left:2px;
  top:27px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:293px;
  top:392px;
  width:39px;
  height:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:315px;
  top:406px;
  width:39px;
  height:19px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:276px;
  top:411px;
  width:39px;
  height:19px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:180px;
  top:564px;
  width:210px;
  height:70px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:70px;
}
#u40 {
  position:absolute;
  left:2px;
  top:27px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:315px;
  top:577px;
  width:39px;
  height:19px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:276px;
  top:582px;
  width:39px;
  height:19px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:291px;
  top:563px;
  width:39px;
  height:19px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:590px;
  top:469px;
  width:100px;
  height:40px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:590px;
  top:629px;
  width:100px;
  height:40px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u49 {
  position:absolute;
  left:591px;
  top:769px;
  width:100px;
  height:40px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:194px;
  top:373px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:198px;
  top:545px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:198px;
  top:704px;
  width:226px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
